@import url('https://fonts.googleapis.com/css2?family=Exo:wght@300&display=swap');
*{
margin: 0px;
padding: 0px;

}


html{
    scroll-behavior: smooth;
}
.menu-heading::after{
    content: '';
    display: block;
    width: 70px;
    height: 3px;
    background-color: var(--clr-gold);
    margin: 10px auto;

}
:root{
    --clr-gold: #c59d5f;
}
.main-head{
    padding: 20px;
        box-shadow: rgba(93, 83, 50, 0.25) 0px 30px 60px -12px inset, rgba(211, 182, 104, 0.3) 0px 18px 36px -18px inset;

}
.main-head h2{
    color: white;
}
.container{
    max-width: 1000px;
    
}

body{
    background-color: #2f3640;  
    font-family: 'Exo', sans-serif;
    
}ul{
    margin-top: 50px;
   
}

ul li{
    list-style-type: none;
    margin: 0px 10px;
    padding: 5px 15px;
   
    border:1px dashed var(--clr-gold);
    font-weight: 600;
    color:var(--clr-gold);
    font-size: 0.8rem;
}
ul li:hover{
   
    color:white;
    background-color: var(--clr-gold);
    
}

/* food section */
.food-container{
    display: flex;
    justify-content: center;    
    padding: 15px;
      font-size: 0.8rem;
      border: 1px dashed var(--clr-gold);
    

}
.food-container .food{
  margin: 0px 10px;
    

}
.food-container .food-image
{
    width:500px ;
      height: 120px;
      display: block;  
  border: 3px solid var(--clr-gold);
  border-radius: 5px;


}
.food-container .food-image img
{
    width: 100%;
    height: 100%;
  }  

  .food-container .details{

width: 750px;


    padding: 0px;
    margin: 0px;
  }

  .food-container .details .pricebox
  {
      padding: 0px 3px 3px 3px;
      display: flex;
      justify-content: space-between;
      align-items: center;     
      font-weight: 600;color: white;
      border-bottom: 1px dashed var(--clr-gold);

  }
 
  .food-container .details .des-box{
      margin-top: 5px;
      padding: 5px;
      overflow: hidden;
      color: gray;
     

   
  }
@media screen and (max-width:470px) {


ul li{
    
    margin: 0px 5px;
    padding: 5px 10px;
    font-weight: 600;   
    font-size: 0.8rem;
}
.food-container .details .des-box{
     font-size: 0.7rem;

   
  }

   
}
@media screen and (max-width:370px) {


ul li{
    
    margin: 0px 4px;
    padding: 4px 8px;
    font-weight: 500;   
    font-size: 0.6rem;
}

   
}




